<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Shopping</display-name>
  <servlet>
    <servlet-name>AllCar</servlet-name>
    <servlet-class>com.clh.servlet.AllCar</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllCar</servlet-name>
    <url-pattern>/AllCar.java</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterHandle</servlet-name>
    <servlet-class>com.clh.servlet.RegisterHandle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterHandle</servlet-name>
    <url-pattern>/RegisterHandle.java</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.clh.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet.java</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FindServlet</servlet-name>
    <servlet-class>com.clh.servlet.FindServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindServlet</servlet-name>
    <url-pattern>/FindServlet.java</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>CheckUsername</servlet-name>
    <servlet-class>com.clh.servlet.CheckUsername</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckUsername</servlet-name>
    <url-pattern>/checkusername.do</url-pattern>
  </servlet-mapping>
  
  <!-- 	<servlet>
     <servlet-name>LoginAction</servlet-name>
    <servlet-class>com.clh.servlet.LoginAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAction</servlet-name>
    <url-pattern>/LoginAction</url-pattern>
  </servlet-mapping> -->
  
  
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SelectServlet</display-name>
    <servlet-name>SelectServlet</servlet-name>
    <servlet-class>com.clh.servlet.FindServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectServlet</servlet-name>
    <url-pattern>/SelectServlet</url-pattern>
  </servlet-mapping>
</web-app>